.single-worker {
  border: 5px double rgb(21, 53, 89);
  background-color: #bfbdbd;
  text-align: center;
  margin: 10px;
  position: relative;
  padding: 5px;
  line-height: 80%;
  font-family: "Poppins", sans-serif;
  color: black;
}
.single-worker p,
div {
  font-size: 0.92rem;
}
#edit-title img,
#example-modal-sizes-title-lg img {
  margin-right: 20px;
}
#edit-title p {
  text-align: center;
}
.modal-header {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  color: blanchedalmond;
  font-family: "Poppins", sans-serif;
}
.modal-body {
  font-family: "Poppins", sans-serif;
  background-color: #bbdbbe;
  text-align: center;
  font-size: 1rem;
}
#example-modal-sizes-title-lg {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  color: #bbdbbe;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#envelope {
  margin-left: 10px;
  height: 16px;
}
#edit-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  display: flex;
  flex-direction: row-reverse;
  color: #bbdbbe;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#edit-btn {
  margin-top: 20px;
  min-height: 2.8rem;
  min-width: 6rem;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  color: white;
}

.plusminus {
  font-size: 14px;
  font-weight: 700;
  margin: 3px;
  width: 40px;
  height: 25px;
  border-radius: 5px;
  padding: 0;
  background-color: rgba(23, 138, 200, 1);
  border: none;
}
.plusminus:disabled {
  opacity: 30%;
}
#section-raise {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -12px;
  margin-left: -10px;
}
#raise-control {
  display: flex;
  gap: 10px;
}
#bonus {
  font-size: 18px;
  padding: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bonus-btn {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  align-self: center;
  width: 50px;
  height: 25px;
  background-color: rgba(15, 177, 0, 0.3);
  box-shadow: none;
  border-radius: 5px;
}
.bonus-btn-on {
  background-color: rgb(113, 254, 100);
}
#perc10 {
  color: black;
}
.dept {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .modal-body {
    padding: 20px 60px;
  }
}
