#title {
  font-size: 3rem;
  padding-top: 1rem;
  text-shadow: 3px 3px rgb(140, 140, 140);
}

#subtitle {
  font-size: 1.4rem;
  font-weight: 800;
  padding-bottom: 20px;
  text-shadow: 2px 2px rgb(140, 140, 140);
}

#navbar {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 50%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.8) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
