#not-logged-in-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
#not-logged-in-div img {
  max-width: 80vw;
  max-height: 30vh;
}
#not-logged-in-msg {
  margin: 30px 70px;
  font-weight: 500;
}
