@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

#main-page,
.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #deebdd;
  background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 50%);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App {
  min-height: 100vh;
}
.css-advny6-MuiPopper-root,
.css-0 {
  z-index: 10;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: rgb(97, 218, 251);
}
.text-area,
.input {
  font-size: 14px;
  padding: 3px;
  margin: 3px;
  width: 60%;
  float: inline-end;
  background-color: #bfbdbd;
}
#add-new-btn {
  margin: 2rem auto;
}
#delete-btn:hover {
  background-color: red;
  box-shadow: 0 0 20px red;
  -webkit-box-shadow: 0 0 20px red;
  -moz-box-shadow: 0 0 20px red;
  color: white;
}

#delete-btn-view {
  min-width: 6rem;
  min-height: 2.8rem;
}
#delete-btn-view-edit {
  font-size: 12px;
  min-width: 10rem;
  min-height: 2.8rem;
}
#delete-btn-view:hover {
  background-color: red;
  box-shadow: 0 0 20px red;
  -webkit-box-shadow: 0 0 20px red;
  -moz-box-shadow: 0 0 20px red;
  color: white;
}
.link {
  text-decoration: none;
}
#sort-by {
  margin-right: 10px;
}
#main {
  margin: 20px 10px 30px 10px;
}
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
#new-form-modal,
#edit-form-modal {
  display: flex;
  flex-direction: column;
}
#new-form-modal p,
#edit-form-modal p {
  margin: 0 10px 20px 10px;
  text-decoration: underline;
  text-decoration-color: rgba(23, 138, 200, 0.7);
}
.new-form-row,
.edit-form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#the-container {
  margin-top: 40px;
}
#edit-pass-div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  #the-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .single-worker {
    min-width: 280;
  }
}
@media only screen and (min-width: 1000px) {
  #the-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  #the-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1620px) {
  #the-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
